server:
  port: 8087

spring:
  application:
    name: loan-service

  main:
    allow-bean-definition-overriding: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

#  instance:
#    prefer-ip-address: true
#    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

management:
  endpoints:
    web:
      exposure:
        include: "*"

#logging:
#  level:
#    root: INFO
#    com.ezpay.accountservice: DEBUG
#  file:
#    name: logs/account-service.log
