version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: ezypay-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongodata:/data/db

volumes:
  mongodata:
