server:
  port: 8890

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/410-Technologies/ezpay-env-config.git
          clone-on-start: true
          default-label: main

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: WARN