server:
  port: 8086

spring:
  application:
    name: Fraud-Detection-service
  data:
    redis:
      host: ${REDIS_HOST:redis-fraud}
      port: ${REDIS_PORT:6379}
      timeout: 5s
      lettuce:
        pool:
          max-active: 100
          max-idle: 20
          min-idle: 5
  main:
    allow-bean-definition-overriding: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

#  instance:
#    prefer-ip-address: true
#    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

management:
  endpoints:
    web:
      exposure:
        include: "*"

#logging:
#  level:
#    root: INFO
#    com.ezpay.accountservice: DEBUG
#  file:
#    name: logs/account-service.log

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
  topics:
    anomalies: anomaly-events
